body {
	font-family: Calibri !important;
	font-size: 0.8em !important;
}

.titulo {
	font-size: 1.5rem;
	background-color: #ededed;
	margin: 5px 0 40px 0;
}

.label {
	margin: 5px 0px 2px 0px;
	display: flex;
}

.submit-button {
	margin: 5px 0px 2px 0px;
}

.icon-space {
	margin: 2px 5px 2px 5px;
}

.columnCenter {
	text-align: center;
}

.columnRight {
	text-align: right;
}