<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Transações</title>
<link rel="stylesheet" th:href="@{/resources/css/estilo.css}" />
</head>
<body>
<img th:src="@{/resources/images/banco-spring-2.png}" width="60px" height="60px" />
<h1>Cadastro de Transações</h1>
<hr/>
<span th:text="${mensagem}" style="color:blue"></span>

<form action="add" method="POST" th:object="${transacao}">
<input type="hidden" th:field="*{id}"/>

<span class="label">Descrição</span>
<input type="text" name="descricao" th:field="*{descricao}"/>

<span class="label">Data</span>
<input type="text" name="data" th:field="*{data}"/>

<span class="label">Valor</span>
<input type="text" name="valor" th:field="*{valor}"/><br/>

<input type="submit" class="submit-button" value="Salvar"/>
</form>
</body>
</html>